[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "*"
streamlit = "*"
pandas-bokeh = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]

[requires]
